
/* Custom ScrollBar */

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #202529;
}

::-webkit-scrollbar-thumb{
    /* background: linear-gradient(#642bff, #ff22e6); */
    background: linear-gradient(to bottom, #34c2ff 0%,#ffffff 50%,#32bef5 100%); 
}

#preloader{
    background:#1D1F39 url(/public/Assets/preloader.gif)no-repeat  center;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}